[Desktop Entry]
Comment=Breeze by the KDE VDG

Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Name=lightmode
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=lightmode
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://www.kde.org
X-Plasma-MainScript=defaults
